# 服务器配置
PORT=8080
ENVIRONMENT=development

# 数据库配置
DATABASE_URL=username:password@tcp(localhost:3306)/nft_market?charset=utf8mb4&parseTime=True&loc=Local

# 区块链配置
ETHEREUM_RPC=http://localhost:8545
CONTRACT_ADDRESS=0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512
NFT_CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
PRIVATE_KEY=ac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# JWT密钥
JWT_SECRET=your_jwt_secret_key

# CORS配置
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
